<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <provider
            android:name="priv.kit.runtime.PrivilegeHandshakeProvider"
            android:authorities="${applicationId}.privilege.handshake"
            android:exported="true"
            tools:ignore="ExportedContentProvider" />
    </application>
</manifest>
